<!-- fields.html -->
{{$package := .Package}}

{{with .FieldList.List}}
<table class="table table-bordered table-hover table-fields">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{range $index, $field := .}}
    <tr>
      <td>
        {{with $field.Names}}
        <ul class="list-unstyled mb-0">
          {{range .}}<li>{{ .Name }}</li>{{end}}
        </ul>
        {{else}}
          arg{{inc $index 1}}
        {{end}}
      </td>
      <td>{{node_html $package .Type true | unescaped}}</td>
      <td>
        {{.Doc.Text}}
        {{.Comment.Text}}
      </td>
    </tr>
  {{end}}
  </tbody>
</table>
{{end}}

<!-- end fields.html -->
