<!-- func.html -->
{{$package := .Package}}
{{$tname := .Type.Name}}
{{$tname_html := html .Type.Name}}

{{with .Func}}

{{$name_html := html .Name}}

{{if .Recv}}

<h3 id="{{$tname_html}}.{{$name_html}}">
  func ({{html .Recv}}) <a href="{{posLink_url $package .Decl}}">{{$name_html}}</a>
  {{$since := since "method" .Recv .Name $package.DocPackage.ImportPath}}
  {{if $since}}<span title="Added in Go {{$since}}">{{$since}}</span>{{end}}
</h3>

{{else}}

<h3 id="{{$name_html}}">
  func <a href="{{posLink_url $package .Decl}}">{{$name_html}}</a>
  {{$since := since "func" "" .Name $package.DocPackage.ImportPath}}
  {{if $since}}<span title="Added in Go {{$since}}">{{$since}}</span>{{end}}
</h3>

{{end}}

<pre>{{- node_html $package .Decl true | unescaped -}}</pre>
{{comment_html .Doc | unescaped}}
{{$name := printf "%s_%s" $tname .Name}}
{{example_html $package $name | unescaped}}

{{end}}
<!-- end func.html -->
