<!-- func.html -->
{{$package := .Package}}
{{$tname := .Type.Name}}
{{$tname_html := html .Type.Name}}

{{with .Func}}

  {{$name_html := html .Name}}

  {{if .Recv}}
    <h3 class="mt-3 mb-5" id="{{$tname_html}}.{{$name_html}}">
      func ({{html .Recv}}) <a href="{{posLink_url $package .Decl}}">{{$name_html}}</a>

      {{$since := since "method" .Recv .Name $package.DocPackage.ImportPath}}
      {{if $since}}<span title="Added in Go {{$since}}">{{$since}}</span>{{end}}
    </h3>
  {{else}}
    <h3 class="mt-3 mb-5" id="{{$name_html}}">

      {{if .Decl}}
        func <a href="{{posLink_url $package .Decl}}">{{$name_html}}</a>
      {{else}}
        func {{$name_html}}
      {{end}}

      {{$since := since "func" "" .Name $package.DocPackage.ImportPath}}
      {{if $since}}<span title="Added in Go {{$since}}">{{$since}}</span>{{end}}
    </h3>
  {{end}}


  <div class="doc">
    {{comment_html .Doc | unescaped}}
  </div>


  {{if and .Params .Params.List}}
    <h3>Params</h3>
    {{fields_html $package .Params}}
  {{end}}


  {{if .Results}}
    <h3>Results</h3>
    {{fields_html $package .Results}}
  {{end}}


  {{if .Decl}}
    <pre>{{- node_html $package .Decl true | unescaped -}}</pre>
  {{end}}


  <div class="example">
    {{$name := printf "%s_%s" $tname .Name}}
    {{example_html $package $name | unescaped}}
  </div>

{{end}}
<!-- end func.html -->
