{{with .Package}}

{{$package := .}}

<h1>
  Package {{ .Name }}
</h1>

<p>
  import "{{ .ImportPath }}"
</p>

<h2>Overview</h2>
<div>{{ .Doc }}</div>
<div>{{ .ImportComment }}</div>

<h2>Imports</h2>
<div>{{ .Imports }}</div>

<h2>Filenames</h2>
<div>{{ .Filenames }}</div>

<h2>Notes</h2>
<div>{{ .Notes }}</div>

<h2>Consts</h2>
<div>{{ .Consts }}</div>

<h2>Types</h2>

{{range .Types}}
<div>
  {{$tname_html := html .Name}}
  <dd><a href="#{{$tname_html}}">type {{$tname_html}}</a></dd>

  {{range .Funcs}}
    {{$name_html := html .Name}}
    <dd>&nbsp; &nbsp; <a href="#{{$name_html}}">{{ node_html $package .Decl false | sanitize }}</a></dd>
  {{end}}

  {{range .Methods}}
    {{$name_html := html .Name}}
    <dd>&nbsp; &nbsp; <a href="#{{$tname_html}}.{{$name_html}}">{{ node_html $package .Decl false | sanitize }}</a></dd>
  {{end}}
</div>
{{end}}

<h2>Vars</h2>
<div>{{ .Vars }}</div>

<h2>Funcs</h2>
<div>{{ .Funcs }}</div>

<h2>Examples</h2>
<div>{{ .Examples }}</div>

{{end}}