<!-- type.html -->
{{- $package := .Package -}}

{{- with .Type -}}

  {{ $tname := .Name }}
  {{ $type_name_html := html .Name }}

  <h1 id="type-title-{{ html $package.Name }}-{{- $type_name_html -}}">{{- $type_name_html -}}</h1>

  {{ .Documentation.Body | unescaped }}

  <!--
    <pre>
      {{- node_html $package .Decl true | unescaped -}}
    </pre>
  -->

  <!-- fields -->
  {{- $fields := indent_filter .Fields -}}

  {{ if eq .TypeSpec "struct" }}
  {{ if gt (len $fields) 0 }}
  <h2>Fields</h2>
  <table class="table-fields">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $fields }}
      <tr>
        <td>
          <ul class="field-names">
            {{range .Names}}
            <li>{{ .Name }}</li>
            {{end}}
          </ul>
        </td>
        <td>{{ node_html $package .Field.Type true | unescaped }}</td>
        <td>{{ .Documentation | unescaped }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ end }}
  {{ end }}
  <!-- end fields -->


  {{range .Consts}}
  {{comment_html .Doc | unescaped}}
  <pre>{{- node_html $package .Decl true | unescaped -}}</pre>
  {{end}}

  {{range .Vars}}
  {{comment_html .Doc | unescaped}}
  <pre>{{- node_html $package .Decl true | unescaped -}}</pre>
  {{end}}

  {{example_html $package $tname | unescaped}}

  <!-- funcs -->
  {{- $funcs := indent_filter .Funcs -}}
  {{ with $funcs}}
  <h2>Funcs</h2>
  {{ end }}

  {{ range $funcs }}
  {{ $name_html := html .Name }}
  <div class="funcs my-3">
    <h3 id="{{$name_html}}">
      func
      <a href="/{{- $package.ImportPath -}}/{{- $type_name_html -}}.{{- $name_html -}}.html" title="{{- $name_html -}}">{{- $name_html -}}</a>
      <a class="permalink" href="#{{- $name_html -}}">&#xb6;</a>
    </h3>

    {{if .Decl}}
    <pre>{{- node_html $package .Decl true | unescaped -}}</pre>
    {{end}}

    {{ .Documentation.Summary.HTML | unescaped }}
  </div>
  {{end}}
  <!-- end funcs -->

  <!-- methods -->
  {{- $methods := indent_filter .Methods -}}
  {{ with $methods }}
  <h2>Methods</h2>
  {{ end }}

  {{ range $methods }}
  {{ $name_html := html .Name }}
  <div class="methods my-3">
    <h2 id="{{$type_name_html}}.{{$name_html}}">
      func ({{html .Recv}}) <a href="{{posLink_url $package .Decl}}">{{$name_html}}</a>
    </h2>
    <pre>{{- node_html $package .Decl true | unescaped -}}</pre>
    {{comment_html .Doc | unescaped}}
  </div>
  {{end}}
  <!-- end methods -->

{{- end }}
<!-- end type.html -->